@{
    ViewData["Title"] = "Remove Cliente";
}

<h1>APAGAR CLIENTE</h1>

<p>Deseja mesmo apagar esse Cliente</p>

<a role="button" class="btn btn-primary">APAGAR</a>
<a asp-controller="Cliente" asp-action="Index" role="button" class="btn btn-danger">CANCELAR</a>